In [ ]:
Header in Markdown Cell

# (Data Science Tools and Ecosysstem)

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

- Popular  Data Science Languages
- Common Tools in Data Science
- Creating tables
- Simple arithmetic operations

In [ ]:
How To Create a List in Markdown

Some of the popular languages that Data Scientists use are:
 * Python 
 * R
 * SQL
 * Java

Another ordered List in Markdown

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Panda
- Plotly
- PyCaret

In [ ]:
How to Create One column Table in Markdown

|Data Science Tools|
---------------------
|Tableau|
|TensorFlow|
|SaS|
|RapidMiner|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours

In [9]:
200/60

3.3333333333333335

## Author

Olubusayo Oloyede